# tuple常规使用

In [4]:
tup1 = ('google','qinwei','baidu')
print(tup1)
print(type(tup1))
print(tup1[0])#访问和数组一样，但是不能赋值
print(tup1[1])
print(tup1[-1])
print(tup1[-1] == tup1[2])

('google', 'qinwei', 'baidu')
<class 'tuple'>
google
qinwei
baidu
True

In [5]:
tup1[1] = 'alimama'#TypeError: 'tuple' object does not support item assignment
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [7]:
also_a_tup = (50,)
print(type(also_a_tup))
not_a_tup = (50)
print(type(not_a_tup))#这种不能成为元组

<class 'tuple'>
<class 'int'>

## 拼接操作同list

In [14]:
l1 = ['a','b','c']
l2 = ['d','h','j']
l3 = l1 + l2
print(l3)

['a', 'b', 'c', 'd', 'h', 'j']

In [25]:
tup2 = ('yahoo','gmail','youtube')
tup3 = tup1 + tup2
print('tup3:',tup3)
tup3 = tup1 + tup2

del(tup3)
# print(tup3)#NameError: name 'tup3' is not defined

tup3: ('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')

In [26]:

tup3 = tup1 + tup2
print(tup3)
print((tup3))
print(((tup3)))
print([tup3])
print([((tup3))])
print(([((tup3))]))
print([([((tup3))])])#只有方扩号影响输出

('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')
('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')
('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')
[('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')]
[('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')]
[('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')]
[[('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')]]

In [28]:
tup4 = tup3 * 3
print(tup4)
print('a' in tup4)
print('qinwei' in tup4)

('google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube', 'google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube', 'google', 'qinwei', 'baidu', 'yahoo', 'gmail', 'youtube')
False
True

## 一般操作：tuple基本也能像list一样用

In [29]:
for val in tup4:
    print(val,end=',')

google,qinwei,baidu,yahoo,gmail,youtube,google,qinwei,baidu,yahoo,gmail,youtube,google,qinwei,baidu,yahoo,gmail,youtube,

In [30]:
print('\ncut:',tup4[-2:])

cut: ('gmail', 'youtube')

### 没有insert之类的

In [40]:
tup888 = (1,23,44)
print(tup888)
#tup888.insert(0,898)
#print(tup888)

(1, 23, 44)

## 比较大小是个难点，其实也不是tuple，是字符串的大小判断，正确逻辑是逐个判断大小，因为a和c分别比b小和大，所以bbbbb后边再长也没用了，不算大

In [33]:
tup5 = ('bbbbb','bbba','bbbc')
print((tup5))
print(min(tup5))
print(max(tup5))
print('bbbbb' > 'bbba')
print('bbbbb' > 'bbbc')

('bbbbb', 'bbba', 'bbbc')
bbba
bbbc
True
False

## 数字和单个字母比较大小就简单了

In [37]:
tup6 = (444, 2232,44534,412)
print(max(tup6))
print(min(tup6))

l3 = ['a', 'b', 'c', 'd', 'h', 'j']
tup7 = tuple(l3)
print(l3)
print(tup7)

44534
412
['a', 'b', 'c', 'd', 'h', 'j']
('a', 'b', 'c', 'd', 'h', 'j')

## idle 打印会比较奇怪，下边其实没这个情况：
它会把整个打印扩起来，还给每个字符类的都加了单引号
('tup1[1],tup1[2]:', 'u', ',', 4444)

In [4]:
tup1 = ("fuck","u",4444,3.3)
print("tup1[0]:",tup1[0])
print("tup1[1],tup1[2]:",tup1[1],tup1[2])
print("tup1[1],tup1[2]:",tup1[1],",",tup1[2])
print("tup1[1],tup1[2]:",tup1[1],",",tup1[2],sep='-')
print("tup1[1],tup1[2]:","u",",",4444)
print("tup1[1],tup1[2]:","u","asd,asd",4444)
#print("tup1[1],tup1[2] type:",type(tup1[1],",",tup1[2]))
#print "tup1[1],tup1[2]:",tup1[1]tup1[2]



print(tup1)

#tuple1 = zip(1,2)

fuck
u
4444
3.3
tup1[0]: fuck
tup1[1],tup1[2]: u 4444
tup1[1],tup1[2]: u , 4444
tup1[1],tup1[2]:-u-,-4444
tup1[1],tup1[2]: u , 4444
tup1[1],tup1[2]: u asd,asd 4444
('fuck', 'u', 4444, 3.3)